/*** NAV BAR ***/

#nav img {
  width: 5em;
}

/*** ABOUT SECTION ***/
#self1 img {
  width: 15em;
  border-radius: 20px;
}

/*** PROJECTS SECTION ***/
#projects a {
  display: block;
  /*height: 30px;*/
  width: 100%;
  text-align: center;
  padding: 25px 0 15px 0;
  text-decoration: none;
}

#projects a h3 {
  padding-bottom: 15px;
  font-size: 4em;
}

.small {
  font-size: 20px;
  display: block;
  color: gray;
  padding-bottom: 25px;
}

.proj1:hover {
  background-color: orange;
}

.proj2:hover {
  background-color: blue;
}

.proj3:hover {
  background-color: green;
}
